<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>JKG Portfolio</title>

		<!--Import Google Icon Font-->
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>

		<!--Import Materialize CSS -->
		<link
			type="text/css"
			rel="stylesheet"
			href="./css/materialize.min.css"
			media="screen,projection"
		/>

		<!-- Import Google Fonts: Righteous and Lato -->
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato&family=Righteous&display=swap"
			rel="stylesheet"
		/>

		<!-- Import Font Awesome -->
		<script
			src="https://kit.fontawesome.com/3d80921411.js"
			crossorigin="anonymous"
		></script>

		<!-- Import Locomotive Scroll CSS -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"
		/>

		<!-- StyleSheet -->
		<link rel="stylesheet" href="./css/style.css" />

		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>

	<body data-scroll-container>
		<!-- White Background -->
		<div data-scroll-section id="background"></div>

		<!-- Tears -->
		<div data-scroll-section id="tear-one">
			<i data-scroll data-scroll-repeat="true" class="fas fa-tint"></i>
		</div>
		<div data-scroll-section id="tear-two">
			<i
				data-scroll
				data-scroll-speed="-3"
				data-scroll-direction="vertical"
				data-scroll-repeat="true"
				class="fas fa-tint shapes"
			></i>
		</div>
		<div data-scroll-section id="tear-three">
			<i
				data-scroll
				data-scroll-speed="-1"
				data-scroll-direction="vertical"
				data-scroll-repeat="true"
				class="fas fa-tint shapes"
			></i>
		</div>
		<div data-scroll-section id="tear-four">
			<i
				data-scroll
				data-scroll-speed="-6"
				data-scroll-direction="vertical"
				data-scroll-repeat="true"
				class="fas fa-tint shapes"
			></i>
		</div>
		<div data-scroll-section id="tear-five">
			<i
				data-scroll
				data-scroll-speed="-1"
				data-scroll-direction="vertical"
				data-scroll-repeat="true"
				class="fas fa-tint shapes"
			></i>
		</div>

		<!-- Stars -->
		<div data-scroll-section id="star-one">
			<i
				data-scroll
				data-scroll-direction="vertical"
				data-scroll-repeat="true"
				class="fas fa-star"
			></i>
		</div>
		<div data-scroll-section id="star-two">
			<i
				data-scroll
				data-scroll-speed="5"
				data-scroll-direction="vertical"
				data-scroll-repeat="true"
				class="fas fa-star"
			></i>
		</div>
		<div data-scroll-section id="star-three">
			<i
				data-scroll
				data-scroll-speed="3"
				data-scroll-repeat="true"
				class="fas fa-star shapes"
			></i>
		</div>
		<div data-scroll-section id="star-four">
			<i
				data-scroll
				data-scroll-speed="1"
				data-scroll-repeat="true"
				class="fas fa-star shapes"
			></i>
		</div>
		<div data-scroll-section id="star-five">
			<i
				data-scroll
				data-scroll-speed="7"
				data-scroll-direction="vertical"
				data-scroll-repeat="true"
				class="fas fa-star shapes"
			></i>
		</div>

		<!-- Name -->
		<div data-scroll-section class="flex-start mobile-center">
			<h1
				id="my-name"
				style="margin-left: 100px; color: rgb(78, 78, 78); margin-top: 200px"
				class="fade-in small-space header"
				data-scroll
				data-scroll-class="appear"
				data-scroll-repeat="true"
				data-scroll-direction="horizontal"
				data-scroll-speed="-3"
			>
				Kole Gasior
			</h1>
		</div>

		<!-- Role -->
		<div data-scroll-section class="flex-end mobile-center">
			<h2
				id="my-role"
				style="margin-right: 100px"
				class="fade-in big-space header"
				data-scroll
				data-scroll-class="appear"
				data-scroll-repeat="true"
				data-scroll-direction="horizontal"
				data-scroll-speed="5"
			>
				Full Stack Web Developer <i class="fas fa-laptop-code"></i>
			</h2>
		</div>

		<!-- Greeting -->
		<div data-scroll-section class="flex-center">
			<h2
				class="fade-in big-space header"
				data-scroll
				data-scroll-class="appear"
				data-scroll-repeat="true"
				data-scroll-direction="vertical"
				data-scroll-speed="1"
			>
				Welcome to my portfolio.
			</h2>
		</div>

		<!-- About Me -->
		<div data-scroll-section class="flex-start mobile-center">
			<h1
				style="margin-left: 100px"
				class="fade-in smaller-space top-space header"
				data-scroll
				data-scroll-class="appear"
				data-scroll-repeat="true"
				data-scroll-direction="horizontal"
				data-scroll-speed="-3"
			>
				About Me
			</h1>
		</div>

		<!-- About Me: Profile Picture -->
		<div class="container flex-center" data-scroll-section>
			<img
				data-scroll
				data-scroll-class="appear"
				data-scroll-repeat="true"
				data-scroll-direction="vertical"
				class="fade-in"
				id="profile-image"
				src="./images/profile-pic.jpg"
				alt="profile-image"
				style="margin-bottom: 30px"
			/>
		</div>

		<!-- About Me: Brand Statement -->
		<div class="container flex-center" data-scroll-section>
			<p
				data-scroll
				data-scroll-class="appear"
				data-scroll-repeat="true"
				class="fade-in smaller-space"
				id="brand-statement"
			>
				JavaScript developer leveraging a science background to develop quality
				and user-friendly web applications and websites. Since the beginning of
				2020, I have acquired knowledge and experience with technologies such as
				JavaScript, jQuery, HTML, CSS, React, Redux, Node, Express, MongoDB,
				SQL, ORMs, Templating Engines, and Testing Frameworks. I am currently
				enrolled in a program for Web Development at the Ohio State University
				where I am expanding and polishing my skill set. Prior work and
				educational experience has been formative to my high attention-to-detail
				and degree of accuracy, organizational skills, and critical thinking
				ability which, alongside my proven history of strong work ethic and
				efficiently handling multiple responsibilities, serve to achieve
				challenging and complex objectives such as developing fully-functional,
				intuitive, and engaging web applications. I constantly strive to improve
				my expertise and am eager share my passion with an innovative team
				dedicated to develop and deliver quality applications.
			</p>
		</div>

		<!-- About Me: Buttons -->
		<div data-scroll-section>
			<div class="container small-space flex-center">
				<a
					style="margin-right: 20px"
					data-scroll
					data-scroll-class="appear"
					data-scroll-repeat="true"
					class="btn-large grey darken-3 grey-text text-lighten-2 waves-effect waves-light fade-in"
					href="./assets/resume.pdf"
					target="_blank"
				>
					Resume <i class="fas fa-file right btn-icon"></i>
				</a>
				<a
					style="margin-left: 20px"
					data-scroll
					data-scroll-class="appear"
					data-scroll-repeat="true"
					class="btn-large grey darken-3 grey-text text-lighten-2 waves-effect waves-light fade-in"
					href="/portfolio"
				>
					Projects <i class="fas fa-code right btn-icon"></i>
				</a>
			</div>
		</div>

		<!-- Front End Skills -->
		<div data-scroll-section>
			<div class="container small-space">
				<h2
					id=""
					class="center-align fade-in tech-skills-header"
					data-scroll
					data-scroll-class="appear"
					data-scroll-repeat="true"
					data-scroll-direction="vertical"
					data-scroll-speed="-2"
				>
					Front End Skills
				</h2>
				<div
					class="row fade-in"
					data-scroll
					data-scroll-class="appear"
					data-scroll-repeat="true"
					data-scroll-direction="vertical"
					data-scroll-speed="-3"
				>
					<ul class="col s6">
						<li class="center-align">HTML</li>
						<li class="center-align">CSS</li>
						<li class="center-align">JavaScript</li>
						<li class="center-align">jQuery</li>
					</ul>

					<ul class="col s6">
						<li class="center-align">React</li>
						<li class="center-align">Redux</li>
						<li class="center-align">Jest</li>
						<li class="center-align">Enzyme</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Back End Skills -->
		<div data-scroll-section>
			<div class="container small-space">
				<h2
					class="center-align fade-in tech-skills-header"
					data-scroll
					data-scroll-class="appear"
					data-scroll-repeat="true"
					data-scroll-direction="vertical"
					data-scroll-speed="-2"
				>
					Back End Skills
				</h2>
				<div
					class="row fade-in"
					data-scroll
					data-scroll-class="appear"
					data-scroll-repeat="true"
					data-scroll-direction="vertical"
					data-scroll-speed="-3"
				>
					<ul class="col s6">
						<li class="center-align">Node</li>
						<li class="center-align">Express</li>
						<li class="center-align">Handlebars</li>
						<li class="center-align">EJS</li>
						<li class="center-align">MongoDB</li>
						<li class="center-align">Mongoose</li>
					</ul>
					<ul class="col s6">
						<li class="center-align">JavaScript</li>
						<li class="center-align">Passport</li>
						<li class="center-align">SQL</li>
						<li class="center-align">mySQL</li>
						<li class="center-align">Sequelize</li>
						<li class="center-align">Jest</li>
					</ul>
				</div>
			</div>
		</div>

		<!-- Links -->
		<div class="flex-end smaller-space mobile-center" data-scroll-section>
			<h2
				style="margin-right: 100px"
				class="fade-in header"
				data-scroll
				data-scroll-class="appear"
				data-scroll-repeat="true"
				data-scroll-direction="horizontal"
				data-scroll-speed="5"
			>
				Connect <i class="fas fa-handshake"></i>
			</h2>
		</div>

		<div data-scroll-section>
			<div
				data-scroll
				data-scroll-class="appear"
				data-scroll-repeat="true"
				class="row fade-in big-space"
			>
				<a class="col s2 offset-s2 center-align" href="tel:3303016846">
					<p class="text-center connect-icons">
						<i class="fas fa-phone"></i>
					</p>
				</a>
				<a class="col s2 center-align" href="mailto: jkole822@gmail.com">
					<p class="text-center connect-icons">
						<i class="fas fa-envelope-open-text"></i>
					</p>
				</a>
				<a
					class="col s2 center-align"
					href="https://github.com/jkole822/"
					target="_blank"
				>
					<p class="text-center connect-icons">
						<i class="fab fa-github"></i>
					</p>
				</a>
				<a
					class="col s2 center-align"
					href="https://www.linkedin.com/in/jkole822/"
					target="_blank"
				>
					<p class="text-center connect-icons">
						<i class="fab fa-linkedin"></i>
					</p>
				</a>
			</div>
		</div>

		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- Locomotive Scroll -->
		<script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
		<!-- Materialize CSS JavaScript -->
		<script type="text/javascript" src="./js/materialize.min.js"></script>
		<!-- Front-End JavaScript -->
		<script src="./js/index.js"></script>
	</body>
</html>
