/* Tears START */
#tear-one {
	position: absolute;
	top: 15%;
	left: 25%;
	font-size: 1.6rem;
	color: rgb(25, 25, 25);
}

#tear-two {
	position: absolute;
	top: 40%;
	left: 75%;
	font-size: 2.5rem;
	color: rgb(150, 150, 150);
}

#tear-three {
	position: absolute;
	top: 80%;
	left: 40%;
	font-size: 3rem;
	color: rgb(150, 150, 150);
}

#tear-four {
	position: absolute;
	top: 110%;
	left: 15%;
	font-size: 3.7rem;
	color: rgb(150, 150, 150);
}

#tear-five {
	position: absolute;
	top: 130%;
	left: 85%;
	font-size: 2.8rem;
	color: rgb(150, 150, 150);
}
/* Tears END */

/* Stars START */
#star-one {
	position: absolute;
	top: 15%;
	left: 90%;
	font-size: 2.3rem;
	color: rgb(25, 25, 25);
}

#star-two {
	position: absolute;
	top: 45%;
	left: 10%;
	font-size: 3.4rem;
	color: rgb(25, 25, 25);
}

#star-three {
	position: absolute;
	top: 90%;
	left: 80%;
	font-size: 1.5rem;
	color: rgb(150, 150, 150);
}

#star-four {
	position: absolute;
	top: 140%;
	left: 35%;
	font-size: 2rem;
	color: rgb(150, 150, 150);
}

#star-five {
	position: absolute;
	top: 130%;
	left: 50%;
	font-size: 4rem;
	z-index: 1;
	color: rgb(150, 150, 150);
}
/* Stars END */

body {
	background-color: rgb(25, 25, 25);
	color: rgb(200, 200, 200);
	height: 100%;
}

#background {
	position: absolute;
	top: 0;
	background-color: rgb(255, 255, 255);
	width: 100vw;
	height: 100vh;
	z-index: -1;
	clip-path: polygon(0 0, 100% 0%, 100% 23%, 0 65%);
}

/* About Me START */
#profile-image {
	width: 250px;
	border-radius: 20px;
}

#brand-statement {
	text-align: justify;
	line-height: 2.5;
}
/* About Me END */

/* Projects START */
#my-projects {
	margin: 0 auto;
}

.project-title {
	font-size: 1.25rem;
	font-weight: bold;
}

.header-tech {
	font-size: 1.1rem;
	font-weight: bold;
}
/* Projects END */

/* Card Flip START */
.card {
	margin: 0 !important;
	perspective: 500px;
	background-color: rgb(25, 25, 25);
}

.content {
	width: 100%;
	height: 100%;
	transition: transform 1s;
	transform-style: preserve-3d;
}

.card:hover .content {
	transform: rotateY(180deg);
	transition: transform 0.5s;
}

.front,
.back {
	position: absolute;
	text-align: center;
	font-size: 1rem;
	backface-visibility: hidden;
}

.back {
	height: 100%;
	width: 100%;
	padding: 30px 20px 30px 20px;
	overflow: scroll;
	background: rgb(200, 200, 200);
	color: rgb(55, 55, 55);
	transform: rotateY(180deg);
}
/* Card Flip END */

/* Dropdown START */
.select-dropdown {
	color: #e0e0e0;
}

.dropdown-content {
	background-color: #424242 !important;
}

.dropdown-content > li > span {
	color: #e0e0e0 !important;
}

.caret {
	fill: #e0e0e0 !important;
}

#dropdown-container {
	margin: 0 auto;
	width: 50vw;
}
/* Dropdown END */

/* General Styles START */
html {
	font-size: 16px;
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

.header {
	font-family: "Righteous", cursive;
	font-size: 1.5rem;
}

a {
	color: rgb(55, 55, 55);
}

.flex-start {
	display: flex;
	justify-content: flex-start;
}

.flex-center {
	display: flex;
	justify-content: center;
}

.flex-end {
	display: flex;
	justify-content: flex-end;
}

.fade-in {
	opacity: 0;
	transition: opacity 2s;
}

.fade-in-fast {
	opacity: 0;
	transition: opacity 1s;
}

.appear {
	opacity: 1;
}

.top-space {
	margin-top: 200px;
}

.big-space {
	margin-bottom: 400px;
}

.small-space {
	margin-bottom: 200px;
}

.smaller-space {
	margin-bottom: 80px;
}
/* General Styles END */

/* Medium and Large Screen Sizes */
@media only screen and (min-width: 768px) {
	.header {
		font-size: 3rem;
	}
}
