html {
	position: relative;
	min-height: 100%;
}

body {
	color: rgb(150, 150, 150);
	height: 100%;
}

#background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgb(26, 25, 25);
	width: 100vw;
	height: 100%;
	z-index: -1;
	clip-path: polygon(0 40%, 100% 5%, 100% 100%, 0% 100%);
}

/* About Me START */
#profile-image {
	width: 20vw;
	border-radius: 20px;
}

#brand-statement {
	text-align: justify;
}
/* About Me END */

/* Projects START */
#my-projects {
	margin: 0 auto;
}

.project-title {
	font-size: 1.25rem;
	font-weight: bold;
}

.header-tech {
	font-size: 1.1rem;
	font-weight: bold;
}
/* Projects END */

/* Card Flip START */
.card {
	margin: 0 !important;
	perspective: 500px;
}

.content {
	width: 100%;
	height: 100%;
	transition: transform 1s;
	transform-style: preserve-3d;
}

.card:hover .content {
	transform: rotateY(180deg);
	transition: transform 0.5s;
}

.front,
.back {
	position: absolute;
	text-align: center;
	font-size: 1rem;
	backface-visibility: hidden;
}

.back {
	height: 100%;
	width: 100%;
	padding: 30px 20px 30px 20px;
	overflow: scroll;
	background: rgb(202, 202, 202);
	color: rgb(58, 58, 58);
	transform: rotateY(180deg);
}
/* Card Flip END */

/* Dropdown START */
.select-dropdown {
	color: #e0e0e0;
}

.dropdown-content {
	background-color: #424242 !important;
}

.dropdown-content > li > span {
	color: #e0e0e0 !important;
}

.caret {
	fill: #e0e0e0 !important;
}

#dropdown-container {
	margin: 0 auto;
	width: 30vw;
}
/* Dropdown END */

/* General Styles START */
a {
	color: rgb(58, 58, 58);
}

.flex-start {
	display: flex;
	justify-content: flex-start;
}

.flex-center {
	display: flex;
	justify-content: center;
}

.flex-end {
	display: flex;
	justify-content: flex-end;
}

.fade-in {
	opacity: 0;
	transition: opacity 2s;
}

.fade-in-fast {
	opacity: 0;
	transition: opacity 1s;
}

.appear {
	opacity: 1;
}

.top-space {
	margin-top: 200px;
}

.big-space {
	margin-bottom: 400px;
}

.small-space {
	margin-bottom: 200px;
}
/* General Styles END */
